*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #cff7cd;
}

#contenedor{
    width: 90%;
    height: 1200px;
    background-color: #20BF55;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

#encabezado{
    background-color: #01BAEF;
    width: 100%;
    text-align: center;
    height: 50px;
    margin-left: 25%;
    
}

.encabezado{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
}

#contenido{
    margin-left: 25%;
    width: 100%;
    height: 500px;
    background-color: #0B4F6C;
}

label{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#selector{
    width: 80%;
}

#pie{
    background-color: #757575;
    margin-left: 25%;
    width: 100%;
    font-weight: bold;
}

p{
    font-family: 'Times New Roman', Times, serif;
}