*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #cff7cd;
}

#contenedor{
    width: 90%;
    height: 1200px;
    background-color: #3DFAFF;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

#encabezado{
    background-color: #14453D;
    width: 100%;
    text-align: center;
    height: 50px;
    margin-left: 25%;
    
}

.encabezado{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#contenido{
    width: 100%;
    margin-left: 25%;
    background-color: #14453D; 
    height: fit-content;
}

input{
    margin-bottom: 10px;
    margin-top: 10px;
}

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}

img{
    width: 150px;
  height: 150px;
  margin-top: 25px;
}

#pie{
    background-color: #48BEFF;
    margin-left: 25%;
    width: 100%;
    font-weight: bold;
}

#espacioImagen{
    background-color: #43C59E ;
}

p{
    font-family: 'Times New Roman', Times, serif;
}